.section {
  &.contact {
    display: flex;
    gap: min(1.1vw, 21px);

    .address {
      position: relative;
      flex: 1;
      padding-block: min(6.875vw, 132px) min(6.7vw, 128px);
      padding-inline-start: min(5.47vw, 105px);

      &::after {
        content: '';

        position: absolute;
        z-index: -1;
        inset: 0 0 0 -50vw;

        background-color: var(--clr-13);
      }

      > address {
        white-space: pre-line;

        a {
          text-decoration: none;

          /* sorry :-( */
        }
      }

      > h2 {
        font-size: var(--fs-16);
        font-weight: var(--f-w-extrabold);
        color: var(--clr-accent);
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      .logo {
        display: block;
        margin-block-end: min(3.542vw, 68px);
      }

      @media (width < 480px) {
        &::after {
          inset: 0 -10vmax;
        }
      }
    }

    .placeholder {
      display: flex;
      flex: min(54.43vw, 1045px) 0 0;
      flex-direction: column;
      gap: min(22px, 1.146vw);
      align-items: flex-end;
      justify-content: flex-end;

      padding: 0 min(173px, 9vw) min(54px, 2.8125vw) min(548px, 28.542vw);

      background-color: var(--clr-13);
      background-image: url('/src/assets/images/contact/zarixa_www_top_bg2.jpg');
      background-size: cover;

      .large-text {
        font-size: var(--fs-49);
        font-weight: var(--f-w-bold);
      }

      p {
        font-size: var(--fs-19);
        font-weight: var(--f-w-medium);
        line-height: 1.42;
      }
    }

    @media (width < 480px) {
      flex-direction: column;
      gap: unset;
    }
  }
}