.section {
  &.contact {
    display: flex;
    gap: min(1.1vw, 21px);

    .address {
      position: relative;
      flex: 1;
      padding-block: min(6.875vw, 132px) min(6.7vw, 128px);
      padding-inline-start: min(5.47vw, 105px);

      &::after {
        content: '';

        position: absolute;
        z-index: -1;
        inset: 0 0 0 -50vw;

        background-color: var(--clr-13);
      }

      > address {
        white-space: pre-line;

        a {
          text-decoration: none;

          /* sorry :-( */
        }

        @media (width < 800px) {
          inline-size: var(--narrow);
          margin-inline: auto;
        }
      }

      > h2 {
        font-size: var(--fs-16);
        font-weight: var(--f-w-extrabold);
        color: var(--clr-accent);
        text-transform: uppercase;
        letter-spacing: 3px;

        @media (width < 800px) {
          inline-size: var(--narrow);
          margin-inline: auto;
        }
      }

      .logo {
        display: block;
        margin-block-end: min(3.542vw, 68px);

        @media (width < 800px) {
          inline-size: var(--narrow);
          margin-inline: auto;
        }
      }

      @media (width < 800px) {
        padding: min(78px, 16.25vw) 0;

        &::after {
          inset: 0 -10vmax;
        }
      }
    }

    .placeholder {
      position: relative;

      display: flex;
      flex: min(54.43vw, 1045px) 0 0;
      flex-direction: column;
      gap: min(22px, 1.146vw);
      align-items: flex-end;
      justify-content: flex-end;

      padding: 0 min(173px, 9vw) min(54px, 2.8125vw) min(548px, 28.542vw);

      background-color: var(--clr-13);
      background-image: url('/src/assets/images/contact/zarixa_www_top_bg2.jpg');
      background-size: cover;

      .large-text {
        font-size: var(--fs-49);
        font-weight: var(--f-w-bold);
      }

      p {
        font-size: var(--fs-19);
        font-weight: var(--f-w-medium);
        line-height: 1.42;
      }

      .decoration {
        position: absolute;
        inset: auto min(116px, 6.042vw) max(-7.3vw, -140px) auto;
        rotate: z 180deg;

        grid-column: content-end;

        inline-size: min(2.7vw, 52px);

        @media (width < 800px) {
          inline-size: 8.27%;
        }
      }

      @media (width < 800px) {
        flex-basis: 100vw;
        align-items: flex-start;
        justify-content: flex-start;

        min-block-size: min(376px, 78.3vw);
        padding: 6.4% 10% 0 48.8%;

        text-align: start;

        background-position-x: 30%;
      }
    }

    @media (width < 800px) {
      flex-direction: column;
      gap: unset;

      && {
        grid-column: full;
      }
    }
  }
}