.page-footer {
  font-size: var(--fs-19);
  font-weight: var(--f-w-bold);

  > div {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: min(2.92vw, 56px);

    .buttons-list {
      display: flex;
      gap: min(4.9vw, 94px);
      align-items: center;
      justify-content: flex-end;

      margin-inline-end: min(10.625vw, 204px);

      list-style-type: none;

      @media (width < 480px) {
        display: none;
      }
    }
  }

  .decoration {
    position: absolute;
    inset: auto min(116px, 6.042vw) 0 auto;
    rotate: z 180deg;

    grid-column: content-end;

    inline-size: min(2.7vw, 52px);
  }
}