@import url('./reset.css');
@import url('./fonts/fonts.css');
@import url('./vars.css');
@import url('./grid.css');
@import url('./utility.css');
@import url('./keyframes.css');
@import url('./components/page-header.css');
@import url('./components/sections.css');
@import url('./components/tabs.css');
@import url('./components/accordion.css');
@import url('./components/ass.css');
@import url('./components/page-footer.css');
@import url('./components/entry-dialog.css');
@import url('./components/contact-form.css');
@import url('./components/carousel.css');

:root {
  font-family: var(--f-fam-1);
  line-height: 1.22;
  color: var(--clr-text);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--clr-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

::selection {
  color: var(--clr-text);
  background-color: var(--clr-accent);
}


.main-content {
  position: relative;

  @media (width < 480px) {
    overflow-x: clip;
  }
}

.visually-hidden {
  position: absolute !important;

  overflow: hidden !important;

  inline-size: 1px !important;
  block-size: 1px !important;
  margin: -1px !important;
  padding: 0 !important;

  clip: rect(0 0 0 0) !important;
  border: 0 !important;
}