@import url('./reset.css');
@import url('./fonts/fonts.css');
@import url('./vars.css');
@import url('./grid.css');
@import url('./utility.css');
@import url('./keyframes.css');
@import url('./components/page-header.css');
@import url('./components/sections.css');
@import url('./components/tabs.css');
@import url('./components/ass.css');
@import url('./components/page-footer.css');
@import url('./components/entry-dialog.css');

:root {
  font-family: var(--f-fam-1);
  line-height: 1.22;
  color: var(--clr-text);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--clr-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

::selection {
  color: var(--clr-text);
  background-color: var(--clr-accent);
}


.main-content {
  position: relative;

  @media (width < 480px) {
    overflow-x: clip;
  }
}