.accent {
  color: var(--clr-accent)
}

.uppercase {
  text-transform: uppercase;
}

button.text {
  cursor: pointer;

  padding: 0;

  color: inherit;

  background-color: transparent;
  border: none;
}