@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('Proxima Nova Medium'), local('ProximaNova-Medium'),
        url('./subset-ProximaNova-Medium.woff2') format('woff2'),
        url('./subset-ProximaNova-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Century Gothic';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
        url('./subset-CenturyGothic-Bold.woff2') format('woff2'),
        url('./subset-CenturyGothic-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
        url('./subset-ProximaNova-Bold.woff2') format('woff2'),
        url('./subset-ProximaNova-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
        url('./subset-ProximaNova-Extrabld.woff2') format('woff2'),
        url('./subset-ProximaNova-Extrabld.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('./subset-ProximaNova-Regular.woff2') format('woff2'),
        url('./subset-ProximaNova-Regular.woff') format('woff');
}

